@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Sans&family=Phudu:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Phudu', cursive;
}

.invisiable{
    display:none;

}
.visiable{
    display: block;
}

#wallpaper{
    background: rgb(255,252,6);
    background: linear-gradient(45deg, rgba(255,252,6,1) 0%, rgba(253,187,45,1) 100%);
    display: flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    width: 100vw;
    border:solid 2px black;

}

#content{
    background-color: azure;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.45);
}

button{
    background-color: rgb(255,252,6);
    border: 0;
    border-radius: 50%;
    width: 25vmin;
    height: 25vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button>img{
    display: block ;
    width: 80%;
    height: auto;
    
}

#button-group{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

footer{
    display: flex;
    justify-content: center;
}

#game_progres{
    display: flex;
    flex-flow: row;
    width: 70%;
    justify-content: space-evenly;
}